#{extends 'main.html' /}
#{set title:'RandMark' /}

<div class="toolbar">
    <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
    <a id="button" class="button" href="#reset">リセット</a>
</div>

#{form @newGame(), method:'post', id:'reset', class:'dialog', target:'_self', title:'リセット' }
<fieldset>
    <h1>新しい乱数表</h1>
    <a class="button leftButton" type="cancel">キャンセル</a>
    <a class="button blueButton" type="submit">新規作成</a>
    <label for="count">人数:</label>
    <input type="text" id="count" name="count" />
</fieldset>
#{/form}

<ul id="home" title="乱数表" selected="true">
#{list games}
<li>
<a class="digg-count">${_.id}</a>
<a href="@{game(_.id)}">${_.toString()} <i>${_.result}</i></a>
</li>
#{/list}
<li><a href="page1.html" target="_replace">Get 10 More Games...</a></li>
</ul>
